@import "tailwindcss";

.app-background {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  margin: 0;
  padding: 50px;
}
